In [1]:
print("Lord Balaji")

Lord Balaji

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("E:\Python_Vedeo\DataSets\Bangluru_House_Price_Data\Bengaluru_House_Data.csv")

In [4]:
df2 = df.iloc[:,[0,1,3,5,6,7,8]]

In [5]:
df3 = df2.fillna(df2.balcony.mean())

In [6]:
df3.area_type.replace({'Super built-up  Area':4, 'Plot  Area':3, 'Built-up  Area':2,
       'Carpet  Area':1}, inplace=True)

In [7]:
df3.availability = np.where(df3.availability == 'Ready To Move',1,0)

In [8]:
df3['size'].replace({'2 BHK':2, '4 Bedroom':4, '3 BHK':3, '4 BHK':4, '6 Bedroom':6, '3 Bedroom':3,
       '1 BHK':1, '1 RK':1, '1 Bedroom':1, '8 Bedroom':8, '2 Bedroom':2,
       '7 Bedroom':7, '5 BHK':5, '7 BHK':7, '6 BHK':6, '5 Bedroom':5, '11 BHK':11,
       '9 BHK':9,'9 Bedroom':9, '27 BHK':27, '10 Bedroom':10,
       '11 Bedroom':11, '10 BHK':10, '19 BHK':19, '16 BHK':16, '43 Bedroom':43, '14 BHK':14,
       '8 BHK':8, '12 Bedroom':12, '13 BHK':13, '18 Bedroom':18}, inplace=True)

In [10]:
q1 = df3.price.quantile(.25)
q3 = df3.price.quantile(.75)
iqr = q3-q1

In [11]:
upper_limit = q3+1.5*iqr
lower_limit = q1-1.5*iqr

In [12]:
df4 = df3[(df3['price']<upper_limit) & (df3['price']>lower_limit)]

In [16]:
q1 = df4.bath.quantile(.25)
q3 = df4.bath.quantile(.75)
iqr1 = q3-q1

In [17]:
upper_limit1 = q3+1.5*iqr1
lower_limit1 = q1-1.5*iqr1

In [18]:
df5 = df4[(df4.bath<upper_limit1) & (df4.bath>lower_limit1)]

In [19]:
q5 = df5['size'].quantile(.75)
q4 = df5['size'].quantile(.25)
iqr3 = q5-q4

In [20]:
upper_limit3 = q5+1.5*iqr3
lower_limit3 = q4-1.5*iqr3

In [21]:
df6 = df5[(df5['size']>lower_limit3) & (df5['size']<upper_limit3)]

In [23]:
df7 = df6.iloc[:,[0,1,2,4,5,6]]

In [24]:
x = df7.iloc[:,[0,1,2,3,4]]
y = df7.iloc[:,[5]]

In [25]:
x['area_type'] = x.area_type.astype('category')
x['availability'] = x.availability.astype('category')
x['bath'] = x.bath.astype('category')
x['balcony'] = x.balcony.astype('category')
x['size'] = x['size'].astype('category')

C:\Users\lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 42)

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
sc = StandardScaler()

In [30]:
sc.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [31]:
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

### Build Ppolynomial Model

In [32]:
from sklearn.preprocessing import PolynomialFeatures

In [33]:
pol = PolynomialFeatures(degree = 2)

In [34]:
pol.fit(x_train)

PolynomialFeatures(degree=2, include_bias=True, interaction_only=False,
                   order='C')

In [35]:
x_train_pol = pol.transform(x_train)

In [36]:
x_test_pol = pol.transform(x_test)

In [37]:
x_train_pol.shape, x_test_pol.shape

((7917, 21), (3394, 21))

### Build Linear Model

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
pol_lm = LinearRegression()

In [42]:
pol_lm.fit(x_train_pol, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
y_pred = pol_lm.predict(x_test_pol)

In [44]:
y_pred

array([[57.86917114],
       [59.8984375 ],
       [59.8984375 ],
       ...,
       [94.7381897 ],
       [56.47247314],
       [72.10720825]])

In [45]:
y_test

        price
10131   44.80
2730    67.40
7236    41.16
4075    97.00
4571    72.00
...       ...
11943  129.00
7971   150.00
11858   90.00
1577   100.00
3426    59.60

[3394 rows x 1 columns]

In [46]:
pol_lm.score(x_test_pol, y_test)

0.41691079597242675

In [47]:
from sklearn.metrics import mean_squared_error

In [48]:
mse = mean_squared_error(y_test, y_pred)
mse

948.3032786967724

In [49]:
rmse = np.sqrt(mse)
rmse

30.79453325992736